@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Regular'), local('ZonaPro-Regular'),
  url('ZonaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Bold'), local('ZonaPro-Bold'),
  url('ZonaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro SemiBold'), local('ZonaPro-SemiBold'),
  url('ZonaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro Ultra';
  src: local('Zona Pro Ultra Italic'), local('ZonaPro-UltraItalic'),
  url('ZonaPro-UltraItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro Ultra';
  src: local('Zona Pro Ultra'), local('ZonaPro-Ultra'),
  url('ZonaPro-Ultra.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Black'), local('ZonaPro-Black'),
  url('ZonaPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Light'), local('ZonaPro-Light'),
  url('ZonaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro Regular';
  src: local('Zona Pro Regular Italic'), local('ZonaPro-RegularItalic'),
  url('ZonaPro-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro Hairline';
  src: local('Zona Pro Hairline'), local('ZonaPro-Hairline'),
  url('ZonaPro-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Light Italic'), local('ZonaPro-LightItalic'),
  url('ZonaPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Black Italic'), local('ZonaPro-BlackItalic'),
  url('ZonaPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro ExtraBold'), local('ZonaPro-ExtraBold'),
  url('ZonaPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Bold Italic'), local('ZonaPro-BoldItalic'),
  url('ZonaPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro ExtraBold Italic'), local('ZonaPro-ExtraBoldItalic'),
  url('ZonaPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro SemiBold Italic'), local('ZonaPro-SemiBoldItalic'),
  url('ZonaPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro Hairline';
  src: local('Zona Pro Hairline Italic'), local('ZonaPro-HairlineItalic'),
  url('ZonaPro-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Thin'), local('ZonaPro-Thin'),
  url('ZonaPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Zona Pro';
  src: local('Zona Pro Thin Italic'), local('ZonaPro-ThinItalic'),
  url('ZonaPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

